.edit-form__container__types__colors__color__info,
.edit-form__container__types__equips__equip__info {
    width: 100px;
    text-align: end;
}

.edit-form__container__types__equips__title,
.edit-form__container__types__colors__title,
.edit-form__container__picture__title,
.edit-form__container__classes__title {
    color: #0084ff;
}

.edit-form__container__types__colors__color,
.edit-form__container__types__equips__equip {
    height: 35px;
}


.edit-form__container__picture input,
.edit-form__container__types__equips__equip input,
.edit-form__container__types__colors__color input {
    background: #252e37;
    border: #252e37;
    padding: 8px;
    border-radius: 8px;
}

.edit-form__container__classes select {
    background: #252e37;
    border: #252e37;
    padding: 8px;
    border-radius: 8px;
}

.edit-form__container__classes option {
    padding: 5px;
}

.edit-form__container__picture {
    width: 100%;
}

.edit-form__container__picture input{
    width: calc(100% - 16px);
}